@import '_variables';

form {
  .form-group {
    height: 50px;
  }
  .help-block {
    opacity: 0.8;
    font-size: 0.9em;
    text-align: center;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
  background-color: @mainColor;
  //h4{
  //  font-size:1em;
  //}
  //p{
  //  font-size:0.7em;
  //  opacity:0.8;
  //}
}

//.ui-select-choices-row{
//  height:65px;
//}
.form-group{
  padding-left:0;
}

@-webkit-keyframes rotate {
  from{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

.rotate-icon{
  -webkit-animation: rotate;
  animation: rotate;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.help-block {
  &.ng-enter{
    animation: slideInDown 0.5s ease-in;
  }
}
