<ui-select multiple ng-model="data.formations"  style="width: 100%;" ng-if="entities">
	<ui-select-match placeholder="Choisissez parmis nos {{ relationName }}...">{{$item.name}}</ui-select-match>
	<ui-select-choices repeat="item in entities | propsFilter: {name: $select.search, description: $select.search}">
		<div class="list-group">
			<div class="list-group-item">
				<div class="row-picture" ng-if="item.image">
					<img class="circle" ng-src="{{ item.image }}"  alt="{{ item.name }} logo">
				</div>
				<div class="row-content">
					<h4 class="list-group-item-heading">
						{{ item.name || item.displayName}}
					</h4>
					<p class="list-group-item-text" ng-if="item.description">
						{{ item.description }}
					</p>
				</div>
			</div>
		</div>
	</ui-select-choices>
</ui-select>
