<ui-select multiple ng-model="data.formations"  style="width: 100%;">
	<ui-select-match placeholder="Choisissez parmis nos formations...">{{$item.name}}</ui-select-match>
	<ui-select-choices repeat="formation in formations | propsFilter: {name: $select.search, description: $select.search}">
		<div class="list-group">
			<div class="list-group-item">
				<div class="row-picture">
					<img class="circle" ng-src="{{ formation.image }}"  alt="{{ formation.name }} logo">
				</div>
				<div class="row-content">
					<h4 class="list-group-item-heading">
						{{ formation.name }}
					</h4>
					<p class="list-group-item-text">
						{{ formation.description }}
					</p>
				</div>
			</div>
		</div>
	</ui-select-choices>
</ui-select>
