<div id="row-{{ field.name() }}" class="has-feedback" ng-class="getFieldValidationClass(field)">
<div ng-if="field.editable()"  ng-switch="field.type()">
    writeWidgetTypes
    <span ng-show="fieldHasValidation(field)" class="glyphicon form-control-feedback" ng-class="fieldIsValid(field) ? \glyphicon-ok\ : \glyphicon-remove\"></span>
    </div>
<div ng-if="!field.editable()" ng-class="field.getCssClasses(entry)||\col-sm-10\">
    <p class="form-control-static">
        <ma-column field="::field" entry="::entry" entity="::entity" datastore="::datastore"></ma-column>
        </p>
    </div>
</div>
