<div class="row">
    <div class="col-md-2">
        <md-button class="md-raised" ng-click="selectFile()">
            <span>Browse</span>
            </md-button>
        </div>
    <div class="col-md-10">
        <div class="row" ng-repeat="file in files track by $index">
            <div class="col-md-3" style="padding-top: 6px;">
                <div class="progress" style="margin-bottom: 0;" ng-if="file.progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ file.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ file.progress }}%;">
                        <span class="sr-only">{{ file.progress }}% Complete</span>
                        </div>
                    </div>
                </div>
            <div class="col-md-9" style="padding-top: 6px;"><small><em>{{ file.name }}<em><small></div>
            </div>
        </div>
    </div>
<input type="file" ngf-multiple="multiple" ngf-accept="{{ accept }}" ngf-select ngf-change="fileSelected($files)"
id="{{ name }}" name="{{ name }}" ng-required="v.required" style="display:none" />
