<section>
    <nav class="row text-center" style="width:100%;">
        <div class="col-md-4">
            <a ui-sref="contact.formations" ui-sref-active="btn-primary" class="btn">Suivre une formation ?</a>
        </div>
        <div class="col-md-4">
            <a ui-sref="contact.trainer" ui-sref-active="btn-primary" class="btn">Vous êtes formateur ?</a>
        </div>
        <div class="col-md-4">
            <a ui-sref="contact.dev" ui-sref-active="btn-primary" class="btn">Developpement d'application ?</a>
        </div>
    </nav>
	<div class="ui-view-container">
        <ui-view></ui-view>
	</div>
</section>

