<html>
<head>
  <title>Nouveau contact via le site</title>
</head>
<body>
<header style="background-image: url('http://ambientpreprod.cloudapp.net/images/logo/logos web-03.png');">

</header>
<p>
  <%= displayName %> de l'entreprise <%= company %>, est intéresser par les formations suivantes :

  <%= message %>
</p>
<p>
  Vous pouvez retrouver tous les details en cliquant <a href="http://ambientpreprod.cloudapp.net/admin/#/contact/show/<%= id %>">ici</a>
</p>
</body>
</html>
