.container{
  width:70%;
}

.banner-info{
  padding: 9em 0 12em;
  h1{
    font-weight: 700;
    font-size: 3.5em;
    color: #FFF;
    text-transform: uppercase;
    width: 70%;
    display: inline-block;
    line-height: 1.3em;
  }
  span{
    width:15%;
    height:1px;
    background: #46f878;
    display:inline-block
  }
}
/*---- services ----*/
.services{
  padding:3em 0;
  h2{
    font-weight:900;
    font-size:2.6em;
    color:#222222;
    text-transform:uppercase;
  }
  span{
    width:15%;
    height:1px;
    background:#35C2F8;
    display:inline-block;
  }
  i{
    font-size: 3em;
    opacity: 0.7;
  }
}

.service-grid {
  h3{
    a{
      color: #222;
      font-weight: 600;
      font-size: 0.875em;
      text-transform: uppercase;
    }
    a:hover{
      color:#777777;
      text-decoration:none;
    }
  }
  p{
    font-weight:400;
    line-height:1.7em;
    color:#888888;
  }
}

.services-grids{
  padding:3em 0;
}
// formations area
.formations{
  background:#F7F7F7;
}
.formations-head{
  h3{
    font-weight: 900;
    font-size: 2.5em;
    color: #222222;
    text-transform: uppercase;
    margin: 0.3em 0 0.6em;
  }
  p{
    font-weight:400;
    line-height:1.7em;
    color:#777777;
  }
}

.formations-left-inner-grids ul{
  font-weight: 400;
  line-height: 1.7em;
  color: #777777;
}

.formations-left-inner-grids i{
  font-size: 3em;
}


.formations-left-grid{
  padding:3em 3em 3em 5em;
}
.formations-left-inner-grids{
  padding:2em 0;
}
//development area
.developement-top-left{
  padding:3em 3em 3em 5em;
  h3{
    font-weight: 900;
    font-size: 2.5em;
    color: #222222;
    text-transform: uppercase;
    margin: 0.3em 0 0.6em;
  }
  p{
    font-weight: 400;
    line-height: 1.7em;
    color: #777777;
  }
}

.developement-top-left-grid-left{
  float:left;
  width:10%;
  text-align:center;
  span{
    width:32px;
    height:32px;
    display:inline-block;
    margin-top:0.5em;
  }
}
.developement-top-left-grid-right{
  float:right;
  width:90%;
  h5{
    text-transform:uppercase;
    color:#222222;
    font-size:1.3em;
    margin:0;
    padding:0 0 0.5em 0;
  }
  p{
    width:80%;
  }
}

.developement-top-left-grid{
  margin:1em 0;
}
.developement-top-left-grids{
  padding:0.5em 0;
}


//social area (bottom)
.social-head-grid {
  width: 30.33%;
  text-align: center;
  float: left;
  margin-right: 4.5%;
}
.social-head-grids {
  width: 75%;
  margin: 3.3em auto 2.3em auto;

  i{
    font-size: 10em;
    border-radius: 30em;
  }
  h4{
    font-size: 1.2em;
    color: #222222;
    text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
    -webkit-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
    -moz-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
    -o-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
    margin: 0.8em 0 0.2em 0;
  }
  h5{
    color: #777777;
    margin: 0 auto;
    font-size: 0.95em;
    line-height: 1.44em;
  }
}

.social-head-grid:nth-child(3){
  margin-right:0;
}
/*---//team-members--*/
/*----team-info----*/
.contact{
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.8em;
  text-align: center;
  width: 50%;
}
/*--//team-info--*/

.social-head-grid ul{
  margin:0;
  padding:0;
}
