.services{
  i{
    font-size: 7em;
  }
}

.home-page-panel{
  article{
    header{
      h1{
        font-size:2em;
      }
    }
    padding: 3em 3em 3em 3em;
    .brief{
      margin:1.5em  5em 0 14.5em;
    }
  }
}

.social-item{
  height: 228px;
  i{
    font-size: 10em;
    border-radius: 30em;
  }
  img{
    margin-top:30px;
    height:160px;
    width:140px;
  }
}

