<section class="container">
  <div class="row container-fluid" >
    <% if (formations.length === 0){ %>
    <div style="text-align:center; transform: rotate(90deg); font-size: 3em;">
      :(
    </div>
    <p style="text-align: center;">
      Aucune formation ne correspond à votre recherche
    </p>
    <a href="" class="btn btn-block btn-default" style="margin-top:100px;">Suggérez nous la formation que vous souhaitez</a>
    <% } %>
  </div>
  <div class="row container-fluid" style="margin-top:50px;">
    <ul class="media-list">
      <% formations.forEach(function(formation){ %>
      <li class="media">
        <div class="media-left">
          <img class="media-object" src="../images/formation/logo.jpg" alt="<% formation.name %> logo">
        </div>
        <div class="media-body">
          <a href="/formation/<%= formation.slug %>">
            <h4 class="media-heading"><%= formation.name %></h4>
          </a>
          <%= formation.description %>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
