<div class="container">
  <div class="row">
    <div class="col-xs-4 text-center" style="cursor:pointer;" ng-click="ctrl.authenticate('google')">
      <i class="ion-social-google" style="font-size: 8em;"></i>
    </div>
    <div class="col-xs-4 text-center">
      <i class="ion-social-github-outline" style="font-size: 8em; color:lightgray"></i>
    </div>
    <div class="col-xs-4 text-center">
      <i class="ion-social-linkedin-outline" style="font-size: 8em;; color:lightgray"></i>
    </div>
  </div>
</div>
