html, body{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  background: #FFf;
  -webkit-font-smoothing: antialiased;
  width:100%;
  height:100%;
}
body a{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
/*----start-container----*/
.container{
  width:70%;
}

.banner-info{
  padding: 9em 0 12em;
  h1{
    font-weight: 700;
    font-size: 3.5em;
    color: #FFF;
    text-transform: uppercase;
    width: 70%;
    display: inline-block;
    line-height: 1.3em;
  }
  span{
    width:15%;
    height:1px;
    background:#35C2F8;
    display:inline-block
  }
}
/*---- services ----*/
.services{
  padding:3em 0;
  h2{
    font-weight:900;
    font-size:2.6em;
    color:#222222;
    text-transform:uppercase;
  }
  span{
    width:15%;
    height:1px;
    background:#35C2F8;
    display:inline-block;
  }
  i{
    font-size: 3em;
    opacity: 0.7;
  }
}

.service-grid h3 a{
  color: #222;
  font-weight: 600;
  font-size: 0.875em;
  text-transform: uppercase;
}
.service-grid h3 a:hover{
  color:#777777;
  text-decoration:none;
}
.service-grid p{
  font-weight:400;
  font-family: 'Open Sans', sans-serif;
  line-height:1.7em;
  color:#888888;
}

.services-grids{
  padding:3em 0;
}
/*---- Other Expertise ----*/
.formations{
  background:#F7F7F7;
}
.formations-head h3{
  font-weight: 900;
  font-size: 2.5em;
  color: #222222;
  text-transform: uppercase;
  margin: 0.3em 0 0.6em;
}
.formations-head p{
  font-weight:400;
  font-family: 'Open Sans', sans-serif;
  line-height:1.7em;
  color:#777777;
}

.formations-left-inner-grids ul{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  color: #777777;
}

.formations-left-inner-grids i{
  font-size: 3em;
}

.e-left-inner-grid-left{
  float:left;
  width:10%
}
.e-left-inner-grid-right{
  float:right;
  width:85%;
}
.e-left-inner-grid{
  width: 47%;
  float: left;
  margin-bottom: 1em;
}

.e-left-inner-grid-right h4{
  font-size:1.2em;
  color:#222222;
  text-transform:uppercase;
  font-weight:600;
}
.e-left-inner-grid-right p{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  color: #777777;
}

a.leran-more{
  background:#FFFFFF;
  color:#222222;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  font-weight:600;
  padding:0.9em 2em;
  display:inline-block;
  font-size:1.1em;
  border-radius: 3em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border:1px solid #CBEEFA;
}
a.leran-more:hover{
  background:#222222;
  color:#FFFFFF;
}
.formations-left-grid{
  padding:3em 3em 3em 5em;
}
.formations-left-inner-grids{
  padding:2em 0;
}
/*---- portflio ----*/
.developement-top-left{
  padding:3em 3em 3em 5em;
}
.developement-top-left h3{
  font-weight: 900;
  font-size: 2.5em;
  color: #222222;
  text-transform: uppercase;
  margin: 0.3em 0 0.6em;
}
.developement-top-left p{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  color: #777777;
}
.developement-top-left-grid-left{
  float:left;
  width:10%;
  text-align:center;
}
.developement-top-left-grid-right{
  float:right;
  width:90%;
}
.developement-top-left-grid-left span{
  width:32px;
  height:32px;
  display:inline-block;
  margin-top:0.5em;
}
.developement-top-left-grid-right h5{
  text-transform:uppercase;
  color:#222222;
  font-size:1.3em;
  margin:0;
  padding:0 0 0.5em 0;
}
.developement-top-left-grid-right p{
  width:80%;
}
.developement-top-left-grid{
  margin:1em 0;
}
.developement-top-left-grids{
  padding:0.5em 0;
}

.developement-top-right{
  min-height:650px;
  background-size:cover;
}
.developement-top-right-inner{
  padding:0;
}
.developement-work-grid{
  padding:0;
}
.developement-work-grid{
  position:relative;
}
.developement-work-grid-pic img{
  width:100%;
}
.developement-work-grid-pic{
  position:relative;
}
.developement-work-grid-caption{
  display: none;
  position: absolute;
  top: 0;
  background: rgba(153, 153, 153, 0.8);
  text-align: center;
  padding: 6em 2em 0em 2em;
  bottom: 0;
}
.developement-work-grid-caption h4{
  font-weight:700;
  font-size:1.5em;
  text-transform:uppercase;
  color:#FFF;
}
.developement-work-grid:hover div.developement-work-grid-caption{
  display:block;
}
.developement-work-grid-caption p{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7em;
  color: #FFF;
}

/*---team-members--*/
.team-members{
  padding: 3em 0 4em 0;
  background: #F9F9F9;
}
.tm-head{
  text-align:center;
}
.tm-head h3{
  font-size: 3.3em;
  font-family: 'Montserrat', sans-serif;
  color: #222;
  text-transform: uppercase;
}
.tm-head p{
  font-family: 'Open Sans', sans-serif;
  color: #777777;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.44em;
}
.tm-head-grid img{
  border-radius: 30em;
  -webkit-border-radius: 30em;
  -moz-border-radius: 30em;
  -o-border-radius: 30em;
}
.tm-head-grid {
  width: 30.33%;
  text-align: center;
  float: left;
  margin-right: 4.5%;
}
.tm-head-grids {
  width: 75%;
  margin: 3.3em auto 2.3em auto;
}

.tm-head-grid i{
  font-size: 10em;
  border-radius: 30em;
}

.tm-head-grid:nth-child(3){
  margin-right:0;
}
.tm-head-grid h4{
  font-size: 1.2em;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
  -webkit-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
  -moz-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
  -o-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
  margin: 0.8em 0 0.2em 0;
}
.tm-head-grid h5{
  font-family: 'Open Sans', sans-serif;
  color: #777777;
  margin: 0 auto;
  font-size: 0.95em;
  line-height: 1.44em;
}
/*---//team-members--*/
/*----team-info----*/
.team-info{
  font-family: 'Open Sans', sans-serif;
  color: #777777;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.8em;
  text-align: center;
  width: 50%;
}
/*--//team-info--*/

.tm-head-grid ul{
  margin:0;
  padding:0;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 14px;
  right: 3%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: none;
  text-indent: 100%;
  background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/*---- responsive-design ----*/
@media (max-width:1366px){
  .container{
    width:80%;
  }
}
@media (max-width:1280px){
  .container{
    width:80%;
  }
  .developement-work-grid-caption {
    padding: 4.5em 2em 0em 2em;
  }
}
@media (max-width:1024px){
  .container{
    width:80%;
  }
  .developement-work-grid-caption {
    padding: 2.4em 1em 0em 1em;
  }
  .banner-info h1 {
    font-size: 3.2em;
    width: 80%;
  }
  .banner-info p {
    width: 60%;
  }
  .e-left-inner-grid-right {
    width: 80%;
  }
  .developement-top-left-grid-right p {
    width: 100%;
  }
}
@media (max-width:768px){
  .container{
    width:80%;
  }
  .developement-work-grid-caption {
    padding: 2.4em 1em 0em 1em;
  }
  .banner-info h1 {
    font-size: 2.8em;
    width: 100%;
  }
  .banner-info p {
    width: 90%;
  }
  .e-left-inner-grid-right {
    width: 80%;
  }
  .developement-top-left-grid-right p {
    width: 100%;
  }
  .developement-top-left {
    padding: 1.5em 4em 1.5em 4em;
  }
  .service-head h2 {
    font-size: 2.2em;
  }
  .services {
    padding: 1em 0;
  }
  .services-grids {
    padding: 1em 0;
  }
  .service-grid h3{
    margin:0 0 0.3em 0;
  }
  .service-grid{
    margin:0 0 1em 0;
  }
  .formations-left-grid {
    padding: 1.5em 4em 1.5em 4em;
  }

  .tm-head h3 {
    font-size: 3em;
  }
  .team-members {
    padding: 2em 0 3em 0;
  }
  .tm-head-grid {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .team-info {
    width: 80%;
  }

}
@media (max-width:640px){
  .container{
    width:80%;
  }
  .developement-work-grid-caption {
    padding: 2.4em 1em 0em 1em;
  }
  .banner-info {
    padding: 5em 0 7em;
  }
  .banner-info h1 {
    font-size: 2.3em;
    width: 100%;
  }
  .banner-info p {
    width: 100%;
    font-size: 1.2em;
  }
  .e-left-inner-grid-right {
    width: 80%;
  }
  .developement-top-left-grid-right p {
    width: 100%;
  }
  .developement-top-left {
    padding: 1.5em 3em 1.5em 3em;
  }
  .service-head h2 {
    font-size: 2.2em;
  }
  .services {
    padding: 1em 0;
  }
  .services-grids {
    padding: 1em 0;
  }
  .service-grid h3{
    margin:0 0 0.3em 0;
  }
  .service-grid{
    margin:0 0 1em 0;
  }
  .formations-left-grid {
    padding: 1.5em 3em 1.5em 3em;
  }
  .tm-head h3 {
    font-size: 2.8em;
  }
  .team-members {
    padding: 2em 0 3em 0;
  }
  .tm-head-grid {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .team-info {
    width: 80%;
  }
}
@media (max-width:480px){
  .container{
    width:80%;
  }
  .developement-work-grid-caption {
    padding: 2.4em 1em 0em 1em;
  }
  .banner-info {
    padding: 3em 0 4em;
  }
  .banner-info h1 {
    font-size: 1.7em;
    width: 100%;
  }
  .banner-info p {
    width: 100%;
    font-size: 0.875em;
  }
  .e-left-inner-grid-right {
    width: 80%;
  }
  .developement-top-left-grid-right p {
    width: 100%;
  }
  .developement-top-left {
    padding: 1.5em 2em 1.5em 1.8em;
  }

  .service-head h2 {
    font-size: 2em;
  }
  .services {
    padding: 1em 0;
  }
  .services-grids {
    padding: 1em 0;
  }
  .service-grid h3{
    margin:0 0 0.3em 0;
  }
  .service-grid{
    margin:0 0 1em 0;
  }
  .formations-left-grid {
    padding: 1.5em 3em 1.5em 3em;
  }

  .tm-head h3 {
    font-size: 2.2em;
  }
  .team-members {
    padding: 1em 0 2em 0;
  }
  .tm-head-grid {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .team-info {
    width: 80%;
  }
  .service-grid h3 a {
    font-size: 0.8em;
  }
  .formations-head h3 {
    font-size: 2em;
  }
  .e-left-inner-grid {
    width: 100%;
    float: none;
    margin-bottom: 0.5em;
  }
  .formations-left-inner-grids {
    padding: 1em 0;
  }
  .developement-top-left h3 {
    font-size: 2em;
  }
  .developement-top-left h3 {
    font-size: 1.7em;
  }
}
@media (max-width:320px){
  .container{
    width:90%;
  }
  .developement-work-grid-caption {
    padding: 0.5em 1em 0em 1em;
  }
  .banner-info {
    padding: 2em 0 3em;
  }
  .banner-info h1 {
    font-size: 1.2em;
    width: 100%;
  }
  .banner-info p {
    width: 100%;
    font-size: 0.875em;
  }
  .e-left-inner-grid-right {
    width: 80%;
  }
  .developement-top-left-grid-right p {
    width: 100%;
  }
  .developement-top-left {
    padding: 1.5em 1em 1.5em 1em;
  }
  .service-head h2 {
    font-size: 1.5em;
    margin: 0.2em 0 0;
  }
  .services {
    padding: 1em 0;
  }
  .services-grids {
    padding: 1em 0;
  }
  .service-grid h3{
    margin:0 0 0.3em 0;
  }
  .service-grid{
    margin:0 0 1em 0;
  }
  .formations-left-grid {
    padding: 1.5em 2em 1.5em 2em;
  }
  .tm-head h3 {
    font-size: 1.5em;
  }
  .team-members {
    padding: 1em 0 2em 0;
  }
  .tm-head-grid {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .team-info {
    width: 80%;
  }
  .service-grid h3 a {
    font-size: 0.8em;
  }
  .formations-head h3 {
    font-size: 1.3em;
  }
  .e-left-inner-grid {
    width: 100%;
    float: none;
    margin-bottom: 0.5em;
  }
  .formations-left-inner-grids {
    padding: 1em 0;
  }
  .developement-top-left h3 {
    font-size: 2em;
  }
  .developement-top-left h3 {
    font-size: 1.5em;
  }

  .e-left-inner-grid-right h4 {
    font-size: 1.1em;
  }
  .e-left-inner-grid-left span {
    margin-top: 0.2em;
  }
  a.leran-more {
    padding: 0.8em 1.3em;
    font-size: 0.9em;
  }
  .developement-top-left-grid-right h5 {
    font-size: 1.1em;
  }
  .developement-top-left-grid-right {
    width: 82%;
  }
  .developement-work-grid-caption h4 {
    font-size: 1.3em;
  }
  .cbp_tmlabel h2 {
    font-size: 0.875em;
    margin: 0;
  }
  .tm-head p {
    width: 80%;
    margin: 0 auto;
  }
  .top-nav ul li a {
    padding: 0.2em 0;
  }
}

