html, body{
  font-size: 100%;
  background: #FFf;
  -webkit-font-smoothing: antialiased;
  width:100%;
  height:100%;
  //overflow-x: hidden;
  a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
  }
}

.main-header{
  height: 300px;
}

.banner-info {
  padding: 4em 0 3em;
  height:300px;
  h2 {
    color: #c3bcbe;
    width: 100%;
  }
  img{
    width: 350px;
  }
  p {
    width: 100%;
    font-size: 0.875em;
  }
}

@media screen and (min-width: 992px){
  .banner-info {
    img{
      width: 800px;
    }
    p {
      font-size: 1em;
    }
  }
  .main-header{
    height: 400px;
  }

}
