@import '_variables';

html, body{
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  width:100%;
  height:100%;
  background: @background1;
}

.main-header{
  height: 300px;
}

.banner-info {
  padding: 4em 0 3em;
  height:300px;
  text-align: center;
  h2 {
    color: #c3bcbe;
    width: 100%;
  }
  img{
    width: 300px;
  }
  p {
    width: 100%;
    font-size: 0.875em;
  }
}

.small-span{
  width:25%;
}

.big-span{
  width: 50%;
}

.sexy-span{
  height:1px;
  background:@mainColor;
  display:inline-block;
  //margin-top: 50px;
}

.container {
  width: 100%;
  padding: 0 0;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.main-footer{
  background-color:@background2;
  margin-top:75px;
  font-size: 0.8em;
  text-align:center;
  nav {
    a{
      color: grey;
    }
  }
  color: grey;
  .footer-content{
    margin-top:10px;
  }
  p{
    margin-bottom:0;
  }
}

.legal{
  text-align:justify;
}

@media screen and(min-width: @xsBreackPoint){
  .container {
    width:90%;
  }
  .banner-info{
    img{
      width: 420px;
    }
  }
}

@media screen and (min-width: @smBreackPoint){
  .banner-info {
    img{
      width: 650px;
    }
    p {
      font-size: 1em;
    }
  }
  .container {
    width: 80%;
  }
}

@media screen and (min-width: @mdBreackPoint){
  .banner-info{
    img{
      width: 800px;
    }
  }
  .main-header{
    height: 300px;
  }
}

@media screen and (min-width: @lgBreakPoint) {
  .banner-info{
    img{
      width: 1000px;
    }
  }
  .container{
    width:70%;
  }
  .main-header{
    height: 450px;
  }
}
